*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#descuento {
    width: 100%;
    height: 38%;
    background-color: #1CD1B0;
    padding: 10px;  
    font-size: 15px;
}

#cabeza {
    width: 100%;
    height: 101%;
    background-color: #00669F;
    padding: 28px;  
    font-size: 40px;
}

.contener_batman {
    width: 300px;
    height: 529px;
    position: relative;
    padding: 50px 32px;
}

.cara_batman {
    position: relative;
    padding: 0px 90px 128px 90px;
    
}